.our-team {
  margin-top: 50px;
  margin-bottom: 50px;
  &__grid-item {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    &--seven {
      @media (min-width: 1200px) {
        grid-column: span 2;
        gap: 15px;
        justify-content: center;
      }
      @media (min-width: 768px) and (max-width: 1199px) {
      }
      @media (min-width: 320px) and (max-width: 767px) {
      }
    }
  }
  &__grid-container {
    display: grid;

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, minmax(auto,415px));
      column-gap: 30px;
      row-gap: 60px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      row-gap: 40px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }
  &__container {
    flex-direction: column;
    align-items: center;
  }
  &__title {
    color: #252525;
    text-align: center;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 8.48px;
    text-transform: uppercase;

    @media (min-width: 1200px) {
      font-size: 212px;
      margin-bottom: 50px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      font-size: 150px;
      margin-bottom: 50px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
      font-size: 45px;
      margin-bottom: 30px;
    }
  }

  &__social-list {
    display: flex;
    gap: 10px;
    @media (min-width: 1200px) {
      align-self: flex-end;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      align-self: flex-end;
    }
    @media (min-width: 320px) and (max-width: 767px) {
      align-self: center;
    }
  }
  &__title-team {
    color: #333;
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-wrap: nowrap;
    text-transform: uppercase;
    margin-bottom: 5px;
    @media (min-width: 1200px) {
    }
    @media (min-width: 768px) and (max-width: 1199px) {
    }
    @media (min-width: 320px) and (max-width: 767px) {
      text-align: center;
    }
  }

  &__job-position {
    color: #333;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
    @media (min-width: 1200px) {
    }
    @media (min-width: 768px) and (max-width: 1199px) {
    }
    @media (min-width: 320px) and (max-width: 767px) {
      text-align: center;
    }
  }

  &__img-team {
    width: 100%;
    object-fit: cover;
    height: 507px;
    filter: grayscale(1);
    margin-bottom: 15px;
    @media (min-width: 1200px) {
    }
    @media (min-width: 768px) and (max-width: 1199px) {
    }
    @media (min-width: 320px) and (max-width: 767px) {
    }
  }
  &__title-box-offer {
    color: #333;
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    @media (min-width: 1200px) {
    }
    @media (min-width: 768px) and (max-width: 1199px) {
    }
    @media (min-width: 320px) and (max-width: 767px) {
      text-align: center;
    }
  }

  &__joke-box-offer {
    color: #333;
    font-family: Gilroy-SemiBold;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    @media (min-width: 1200px) {
    }
    @media (min-width: 768px) and (max-width: 1199px) {
    }
    @media (min-width: 320px) and (max-width: 767px) {
      font-size: 40px;
      text-align: center;
    }
  }

  &__link {
    display: flex;
    padding: 10px 30px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #252525;
    color: #fff;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    box-sizing: border-box;
    @media (min-width: 1200px) {
      width: fit-content;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      width: fit-content;
    }
    @media (min-width: 320px) and (max-width: 767px) {
      justify-content: center;
      width: 100%;
    }
  }
}
